.feature{
    margin-bottom: -84px;
  }
  
  .feature__title{
    width: 360px;
  
    margin-bottom: 158px;
  
    color: #316099;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    line-height: 127.778%;
    letter-spacing: 1.8px;
  }
  
  .feature__card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: right;
    width: 860px;
    margin-left: 80px;
  }
  
  .card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 284px;
    padding: 48px;
  
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0 rgb(16 112 177 / 20%);
  
    &:nth-child(even), &:last-child:nth-child(odd) {
      transform: translateY(-296px);
    }
  }
  
  .card-item__img{
    margin-bottom: 56px;
  }
  
  .card-item__title{
    margin-bottom: 16px;
  
    color:#1F3F68;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 1px;
  }
  
  .card-item__subtitle{
    @include subtitle;
    margin-bottom: 32px;
  }
  
  .card-item__link{
    display: flex;
    gap: 24px;
    align-self: baseline;
  
    color: #5A98D0;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 214.286%;
    letter-spacing: 0.7px;
    text-decoration: none;

    cursor: pointer;
  }
  
  .img__ellipse{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 133px;
    height: 133px;
  
    border-radius: 100%;
  }
  
  .img__ellipse-special{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 133px;
    height: 133px;
  
    border-radius: 100%;
  }

  @media (width <= 1030px){
    .feature{
      margin-bottom: 200px;
    }

    .feature__title{
      width: auto;

      text-align: center;
    }

    .feature__card-list{
      flex-direction: column;
      align-items: center;
      width: auto;
      max-width: none;
      margin: 0;
    }

    .card-item{
      &:nth-child(even), &:last-child:nth-child(odd) {
        transform: translateY(0);
      }
    }
  }

  @media (width <= 450px){
    .card-item__subtitle{
      display: none;
    }
  }