.footer{
    position: relative;
  
    margin-right: 91px;
  
    background-color: #316099;
    border-radius: 0 200px 0 0;
  
      &::before{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  
      width: calc(100% + 91px);
      height: 100%;
      margin-right: 96px;
  
      background: #5A98D0;
  
      content: "";
    }
  
    &::after{
      position: absolute;
      top: 391px;
      left: 0;
  
      width: 70%;
      height: 1px;
  
      background: #FFF;
      opacity: 0.4;
  
      content: "";
    }
  }
  
  .footer__container{
    max-width: 860px;
    margin: 0 auto;
  }
  
  .footer__content{
    padding-top: 91px;
  }
  
  .footer__feedback{
    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 194px;
  }
  
  .feedback__text{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .feedback__title{
    width: 320px;
  
    color:#FFF;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    line-height: 127.778%;
    letter-spacing: 1.8px
  }
  
  .feedback__subtitle{
    @include subtitle;
    max-width: 460px;
  
    color: #FFF;
  }

  .feedback__button{
    @include button;
  }
  
  .footer__communication{
    @include footer-subtitle;
    display: flex;
    gap: 100px;
    margin-bottom: 64px;
  }
  
  .communication__block{
    display: flex;
    flex-direction: column;
    gap: 32px;
  
    ul{
      margin: 0;
      padding: 0;
  
      list-style-type: none;
  
      a{
        @include footer-subtitle;
      }
    }
  }
  
  .contact__title-icon{
    display: flex;
  }
  
  .title-icon-word{
    transform: translateX(-50%);
  
    .text-inside-footer{
      font-weight: 700;
      font-size: 20px;
      font-style: normal;
      line-height: 140%;
      letter-spacing: 0.8px;
  
      fill: #316099;
      dominant-baseline: middle;
      text-anchor: middle;
    }
  }
  
  .contact__title-text{
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    font-style: normal;
    line-height: 164%;
    letter-spacing: 0.56px; 
  }
  
  .contact__title{
    display: flex;
    gap: 15px;
    align-items: center;
    height: 32px;
  }
  
  .contact__list-item{
    display: flex;
    gap: 16px;
    align-items: baseline;
    max-width: 300px;
  
    .list-item-prefix{
      font-weight: 600;
    }
  }
  
  .about__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .about__list, .social-media__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .about__title, .social-media__title{
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 1px;
  }
  
  .footer__copyright{
    padding-bottom: 64px;
  
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 162.5%;
    letter-spacing: 0.8px;
  
    opacity: 0.4;
  }

  @media (width <= 1030px){
    .footer{
        margin-right: 0;

        border-radius: 0;

        &::before{
          display: none;
        }

        &::after{
          width: 100%;
        }
      }

      .footer__container{
        padding: 0 20px;
      }
  }

  @media (width <= 700px){
    .footer__feedback{
      flex-direction: column;
    }

    .feedback__text{
      align-items: center;
      margin-bottom: 32px;

      text-align: center;
    }

    .footer{
      &::after{
        top: 450px;
      }
    }

    .footer__communication{
      flex-direction: column;
      gap: 45px;
      align-items: flex-start;
    }

    .about__list, .social-media__list{
      flex-flow: row wrap;
    }

    .contact__list-item{
      width: auto;
    }
  }