@import 'gilory.css';
@import '~normalize.css';

@mixin subtitle {
  color: #1F3F68;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 162.5%; 
  letter-spacing: 0.8px;

  cursor: pointer;

  opacity: 0.6;
}

@mixin footer-subtitle{
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 162.5%; 
  letter-spacing: 0.8px;
}

body{
  font-family: 'Gilory', sans-serif;
}

a{
  text-decoration: none;
}

.container{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/feature';
@import 'blocks/clients';
@import 'blocks/footer';

