@import 'gilory.css';
@import '~normalize.css';

@mixin subtitle {
  color: #1F3F68;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 162.5%; 
  letter-spacing: 0.8px;

  opacity: 0.6;
}

@mixin footer-subtitle{
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 162.5%; 
  letter-spacing: 0.8px;
}

@mixin button{
  min-width: 220px;
  padding: 15px 48px;
  
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 162.5%; 
  letter-spacing: 0.64px;
  text-align: center;
  
  background: #5A98D0;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 0 rgb(53 110 173 / 20%);

  cursor: pointer;

  transition: all 0.3s;

  &:hover{
    background-color: #083863;
  }
}

body{
  font-family: 'Gilory', sans-serif;
}

a{
  text-decoration: none;
}

.container{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/feature';
@import 'blocks/clients';
@import 'blocks/footer';
@import 'UI/MyModal/myModal';
@import 'blocks/form';
@import 'UI/MyPopup/myPopup';

